
/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul
,ol
menu{
    list-style: none;
}

img{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: currentColor;
}


/*CONTAINERS*/

.container-large{
    width: 100%;
}

.container-medium{
    width: 60%;
    margin: 0 auto;
}

.container-small{
    width: 50%;
    margin: 0 auto;

}

/*LAYOUT*/


.d-flex{
    display: flex;
}

 .jc-space-between{
    justify-content: space-between;
 }

 .jc-center{
    justify-content: center;
 }
 .p-20{
    padding: 20px;
 }

 .gap-30{
    gap: 30px
    ;
 }

 .btn-blue{
    color: white;
    background-color: rgb(0, 123, 255);
    padding: 8px 10px;
 }
 
 .f-size-l{
    font-size: large;
 }
.f-size-40{
    font-size: 40px;
}

.pt-60{
    padding-top: 60px;
}

.mt-25{
    margin-top: 25px;
}

.mt-60{
    margin-top: 60px;
}

.mt-auto{
    margin-top: auto;
}

.col-1{
    width: 30%;
}

.col-2{
    width: 70%;
}

.w-190{
    width: 190px;
}

 /*COLORI E BG*/

 .c-grey{
    color: rgb(96, 94, 94);
 }

 .bg-lightblue{
    background-color: lightblue;
 }