/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol menu {
    list-style: none;
}

img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: currentColor;
}


/*CONTAINERS*/

.container-large {
    width: 100%;
}

.container-medium {
    width: 60%;
    margin: 0 auto;
}

.container-small {
    width: 50%;
    margin: 0 auto;

}

/*LAYOUT*/
.td-yes {
    text-decoration: underline;
    color: blue;
}

.f-size {
    font-size: 30px;
}

hr {
    width: 50px;
    color: rgb(208, 208, 208);
}

.mt-90 {
    margin-top: 90px;
}

.mb-45 {
    margin-bottom: 45px;
}


.mt-25 {
    margin-top: 25px;
}

.space-font {
    padding-right: 10px;
}

.d-inlineblock {
    display: inline-block;
}

.pl-50 {
    padding-left: 50px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-10 {
    padding-top: 10px;
}

.bb-black {
    border-bottom: 1px solid rgb(208, 208, 208);
}

.d-flex {
    display: flex;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.p-20 {
    padding: 20px;
}

.p-10 {
    padding: 10px;
}

.ta-center {
    text-align: center;
}

.gap-30 {
    gap: 30px;
}

.mx-h-40 {
    max-height: 40px;
}

.gap-16 {
    gap: 16px;
}

.btn-blue {
    color: white;
    background-color: rgb(0, 123, 255);
    padding: 8px 10px;
}

.f-size-l {
    font-size: large;
}

.f-size-40 {
    font-size: 40px;
}

.pt-60 {
    padding-top: 60px;
}

.mt-45 {
    margin-top: 45px;
}

.p-40 {
    padding: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-auto {
    margin-top: auto;
}

.space-list {
    padding: 20px 0;
}

.btn-white {
    border: 2px solid black;
    width: 150px;
    padding: 10px;
    margin-top: 20px;
}

.w-50 {
    width: 50%;
}

.p-70 {
    padding: 70px;
}

.f-wrap {
    flex-wrap: wrap;
}

.w-250 {
    width: 250px;
}

.w-100 {
    width: 100px;
}

.mx-h-240{
    max-height: 240px;
}

.jc-space-around{
    justify-content: space-around;
}

.p-90{
    padding: 90px;
}

.pq-40{
    padding: 40px 0px;
}

.bb-grey{
    border-bottom: grey;
}
.h-220{
    height: 220px;
}

.pb-20{
    padding-bottom: 20px;
}
/*COLORI E BG*/

.c-grey {
    color: rgb(171, 166, 166);
}

.bg-lightblue {
    background-color: lightblue;
}

.c-blue {
    color: rgb(0, 123, 255);
    ;
}

.bg-lightgreen {
    background-color: lightgreen;
}

.bg-bordeaux {
    background-color: brown;
}

.c-white {
    color: white;
}

.bg-red {
    background-color: red;
}

.bg-lightgrey {
    background-color: rgb(241, 241, 241);
}
.bg-lightsky{
    background-color: rgb(232, 249, 255);
}

.bg-blue{
    background-color: blue;
}

.bg-yellow{
    background-color: yellow;
}

.bg-black{
    background-color: black;
}
/*COLS*/

.col-a1 {
    width: 30%;
}

.col-a2 {
    width: 70%;
}



.col-b1 {
    width: calc((100% / 3) - 11px);
    border: 1px solid rgb(208, 208, 208);
}

.col-b2 {
    border: 1px solid rgb(208, 208, 208);
    width: 100%;
}

.col-b3 {
    width: 30%;
}

.col-c1 {
    width: 60%;
}

.col-c2 {
    width: 40%;
}

.col-d1 {
    width: calc(100% / 3);
}

.col-e1 {
    width: calc(100% / 3);
}

.col-e2 {
    width: calc(100% / 3);
}

.col-e3 {
    width: calc(100% / 3);
}