
/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul
,ol
menu{
    list-style: none;
}

img{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: currentColor;
}


/*CONTAINERS*/

.container-large{
    width: 100%;
}

.container-medium{
    width: 60%;
    margin: 0 auto;
}

.container-small{
    width: 50%;
    margin: 0 auto;

}

/*LAYOUT*/
.td-yes{
    text-decoration: underline;
    color: blue;
}

hr{
    width: 50px;
    color:  rgb(208, 208, 208);
}

.mb-45{
    margin-bottom: 45px;
}

.space-font{
    padding-right: 10px;
}
.d-inlineblock{
    display: inline-block;
}

.pl-50{
    padding-left: 50px;
}

.pt-30{
    padding-top: 30px;
}

.pt-10{
    padding-top: 10px;
}
.bb-black{
    border-bottom: 1px solid rgb(208, 208, 208);
}
.d-flex{
    display: flex;
}

 .jc-space-between{
    justify-content: space-between;
 }

 .jc-center{
    justify-content: center;
 }
 .p-20{
    padding: 20px;
 }

 .p-10{
    padding: 10px;
 }
.ta-center{
    text-align: center;
}
 .gap-30{
    gap: 30px
    ;
 }

 .btn-blue{
    color: white;
    background-color: rgb(0, 123, 255);
    padding: 8px 10px;
 }
 
 .f-size-l{
    font-size: large;
 }
.f-size-40{
    font-size: 40px;
}

.pt-60{
    padding-top: 60px;
}

.mt-45{
    margin-top: 45px;
}

.mt-60{
    margin-top: 60px;
}

.mt-auto{
    margin-top: auto;
}

.space-list{
    padding: 20px 0;
}
 /*COLORI E BG*/

 .c-grey{
    color: rgb(171, 166, 166);
 }

 .bg-lightblue{
    background-color: lightblue;
 }

 .c-blue{
    color: rgb(0, 123, 255);;
 }

 /*COLS*/

 .col-a1{
    width: 30%;
}

.col-a2{
    width: 70%;
}

.col-b1{
    width: calc(94% / 3);
    border: 1px solid rgb(208, 208, 208);
}